<!-- eslint-disable prettier/prettier -->
<template>
  <div class="se-pre-con"></div>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";
defineProps<{
  msg: string;
}>();
</script>

<style scoped>
.se-pre-con {
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/cd514331234507.564a1d2324e4e.gif)
    center no-repeat #fff;
}
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
</style>
