<template>
    <div class="py-20 bg-cover bg-no-repeat bg-purple-custom rounded-md">
      <div class="container m-auto text-center px-6 opacity-100 text-white">
        <h2 class="text-4xl font-bold mb-2 text-white">Application pour voir les météo dans le monde</h2>
        <h3 class="text-2xl mb-8 text-gray-200">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eius quae molestias itaque dicta necessitatibus veritatis vitae, consectetur autem dolores, nemo architecto quis aliquam, pariatur quidem quod ab labore? Dicta.100</h3>
        <button class="bg-midnight font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider hover:border-transparent hover:text-blue-500 hover:bg-gray-800 transition-all" @click="() => this.$router.push({ path: `/` })">Utiliser l'application</button>
      </div>
    </div>
  </template>
  
  <style>
  @media (min-width: 1024px) {
    .about {
      min-height: 100vh;
      display: flex;
      align-items: center;
    }
  }
  </style>
  