<template>
  <div class="mt-40 container mx-auto">
          <About></About>  
  </div>
</template>
<script lang="ts">
import About from "@/components/about/About.vue";
import { defineComponent } from "vue";
export default defineComponent({
  name: "add-tutorial",
  components: {
    About
  },
});
</script>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
