<template>
  <div class="container mx-auto mt-20">
    <p class="text-3xl font-semibold text-center">Page d'accueil</p>
    
    <Search @weatherSearch="handleResultSearch"></Search>
    <section
      v-if="typeof weather_api.weather.main != 'undefined'"
    >
      <WeatherResult
        :imageWeather="weatherIcon(weather_api.weather.weather[0].main)"
        :titleWeather="weather_api.weather.name"
        :cityWeather="weather_api.weather.sys.country"
        :tempWeather="Math.round(weather_api.weather.main.temp)"
        :tempMaxWeather="Math.round(weather_api.weather.main.temp_max)"
        :tempMinWeather="Math.round(weather_api.weather.main.temp_min)"
        :descWeather="
          changeDescription(weather_api.weather.weather[0].description)
        "
        :humidityWeather="weather_api.weather.main.humidity"
        :windWeather="weather_api.weather.wind.speed"
        :pressureWeather="weather_api.weather.main.pressure"
      ></WeatherResult>
    </section>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import type Weather from "../types/Weather";
import WeatherResult from "@/components/home/WeatherResult.vue";
import Search from "@/components/home/Search.vue";
export default defineComponent({
  name: "add-tutorial",
  components: {
    WeatherResult,
    Search
  },
  data() {
    return {
      weather_api: {
        weather: {},
      } as Weather,
    };
  },
  methods: {
    handleResultSearch(e: any) {
      this.weather_api.weather = e;
    },  
    weatherIcon(type: string) {
      switch (type) {
        case "Drizzle":
          return "src/assets/icons/cloud.svg";
        case "Rain":
          return "src/assets/icons/rain.svg";
        case "Snow":
          return "src/assets/icons/snow.svg";
        case "Clear":
          return "src/assets/icons/sun.svg";
        case "Clouds":
          return "src/assets/icons/cloud.svg";
        default:
          break;
      }
    },
    changeDescription(weather: string) {
      switch (weather) {
        case "clear sky":
          return "ciel clair";
        case "few clouds":
          return "quelques nuages";

        case "scattered clouds":
          return "nuages dispersés";

        case "broken clouds":
          return "nuages brisés";

        case "shower rain":
          return "douche pluie";
        case "rain":
          return "pluie";

        case "thunderstorm":
          return "orage";
        case "snow":
          return "neiger";
        case "mist":
          return "brume";

        default:
          break;
      }
    },

    fetchWeather(e: any) {
      if (e.key == "Enter") {
        fetch(
          `${this.weather_api.url_base}weather?q=${this.weather_api.query}&units=metric&APPID=${this.weather_api.api_key}`
        )
          .then((res) => {
            return res.json();
          })
          .then(this.setResults);
        this.weather_api.query = "";
      }
      if (e == "submit") {
        fetch(
          `${this.weather_api.url_base}weather?q=${this.weather_api.query}&units=metric&APPID=${this.weather_api.api_key}`
        )
          .then((res) => {
            return res.json();
          })
          .then(this.setResults);
        this.weather_api.query = "";
      }
    },
    setResults(results: any) {
      console.log("====================================");
      console.log(results);
      console.log("====================================");
      this.weather_api.weather = results;
    },
  },
});
</script>

<style scoped>
h1 {
  color: var(--blue);
  font-family: Parisienne, Roboto;
  font-size: 80px;
  text-align: center;
  margin: 20px 0;
}

.container__inner {
  display: flex;
}

.title__container {
  align-items: center;
  display: flex;
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
}

.weatherIcon {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  height: 36px;
  justify-content: center;
  margin-right: 15px;
  width: 36px;
}

.partialy-cloudy .weatherIcon {
  color: #f97f29;
}

.rainy .weatherIcon {
  color: #2983fe;
}

.weatherCard {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: space-between;
  margin: 20px;
  padding: 30px;
}

.partialy-cloudy {
  background: url("https://images.unsplash.com/photo-1566437036079-0e00cc9ea796?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjAwNjA4NDI&ixlib=rb-1.2.1&q=80");
  background-size: cover;
  color: var(--blue);
}

.info__container {
  display: flex;
  right: 15px;
  position: absolute;
  bottom: 15px;
}

.info {
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  width: 110px;
}

.info__title {
  font-size: 12px;
  margin-bottom: 6px;
}

.info__value {
  font-size: 20px;
  font-weight: 500;
}

.temperature {
  align-items: center;
  display: flex;
}

.temperature__max {
  font-size: 48px;
}

.temperature__min {
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  color: #000;
  display: inline-flex;
  font-size: 12px;
  margin-left: 15px;
  padding: 0 8px;
  height: 24px;
}

.pressure {
  background-color: var(--blue);
  color: #fff;
}

.visibility {
  background-color: #cce16a;
  color: #000;
  margin: 0 15px;
}

.rain {
  background-color: #fff;
  color: #000;
}

.forecast,
.city {
  font-size: 14px;
}
</style>
