<template>
    <div class="container mx-auto mt-20">
      <div class="grid md:grid-cols-2 md:gap-6 mt-10">
        <div class="relative z-0 mb-6 w-full group">
          <input
            type="text"
            name="floating_first_name"
            id="floating_first_name"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
            v-model="weather_api.query"
            @keypress="fetchWeather"
            autocomplete="off"
          />
          <label
            for="floating_first_name"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Ville à rechercher</label
          >
        </div>
        <div class="relative z-0 mb-6 w-full group">
          <button
            type="button"
            @click="fetchWeather('submit')"
            class="text-white bg-purple-custom hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-white focus:outline-none dark:focus:ring-blue-800"
          >
            Rechercher
          </button>
        </div>
      </div>
  
    </div>
  </template>
  <script lang="ts">
  import { defineComponent } from "vue";
  import type Weather from "@/types/Weather";
  export default defineComponent({
    name: "add-tutorial",
    data() {
      return {
        weather_api: {
          api_key: import.meta.env.VITE_API_KEY,
          url_base: import.meta.env.VITE_URL_API,
          query: "",
          weather: {},
          typeWeather: ''
        } as Weather,
      };
    },
    methods: {
      fetchWeather(e: any) {
        if (e.key == "Enter") {
          fetch(
            `${this.weather_api.url_base}weather?q=${this.weather_api.query}&units=metric&APPID=${this.weather_api.api_key}`
          )
            .then((res) => {
              return res.json();
            })
            .then(this.setResults);
            this.weather_api.query=''
        }
        if (e == "submit") {
          fetch(
            `${this.weather_api.url_base}weather?q=${this.weather_api.query}&units=metric&APPID=${this.weather_api.api_key}`
          )
            .then((res) => {
              return res.json();
            })
            .then(this.setResults);
            this.weather_api.query=''
        }
      },
      setResults(results: any) {
        this.$emit('weatherSearch', results)
      },
    },
  });
  </script>
  
  <style scoped>
  </style>
  