<template>
  <div class="weatherCard partialy-cloudy">
    <div class="title__container">
      <div>
        <img :src="imageWeather" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
      </div>
      <div>
        <div class="title">{{ titleWeather }}</div>
        <div class="city">{{ cityWeather }}, {{ dateBuilder() }}</div>
      </div>
    </div>
    <div class="main-temperature">
      <div class="temperature">
        <b class="temperature__max">{{ tempWeather }}ºC</b>
        <b class="temperature__min">Max: {{ tempMaxWeather }}ºC</b>
        <b class="temperature__min">Min: {{ tempMinWeather }}ºC</b>
      </div>
      <div class="forecast">
        {{ descWeather }}
      </div>
    </div>
    <div class="info__container">
      <div class="info pressure">
        <div class="info__title">Humidité</div>
        <div class="info__value">{{ humidityWeather }}%</div>
      </div>
      <div class="info visibility">
        <div class="info__title">Vent</div>
        <div class="info__value">{{ windWeather }}km/h</div>
      </div>
      <div class="info rain">
        <div class="info__title">Precipitation</div>
        <div class="info__value">{{ pressureWeather }}mm</div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
  import { defineComponent } from "vue";
  export default defineComponent({
    name: "add-tutorial",
    props: {
  imageWeather: String,
  cityWeather: String,
  tempWeather: String,
  tempMinWeather: String,
  tempMaxWeather: String,
  titleWeather: String,
  descWeather: String,
  humidityWeather: String,
  windWeather: String,
  pressureWeather: String,
},
methods: { 
    dateBuilder() {
      const d = new Date();
      const months = [
        "Janvier",
        "Fevrier",
        "Mars",
        "Avril",
        "Mai",
        "Juin",
        "Juillet",
        "Aôut",
        "Septembre",
        "Octobre",
        "Novembre",
        "Decembre",
      ];
      const days = [
        "Dimanche",
        "Lundi",
        "Mardi",
        "Mercredi",
        "Jeudi",
        "Vendredi",
        "Samedi",
      ];

      const day = days[d.getDay()];
      const date = d.getDate();
      const month = months[d.getMonth()];
      const year = d.getFullYear();

      return `${day} ${date} ${month} ${year}`;
    },
  },
  });
</script>
<style scoped>
  .container__inner {
    display: flex;
  }
  
  .title__container {
    align-items: center;
    display: flex;
  }
  
  .title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .weatherIcon {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    height: 36px;
    justify-content: center;
    margin-right: 15px;
    width: 36px;
  }
  
  .partialy-cloudy .weatherIcon {
    color: #f97f29;
  }
  
  .rainy .weatherIcon {
    color: #2983fe;
  }
  
  .weatherCard {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: space-between;
    margin: 20px;
    padding: 30px;
  }
  
  .partialy-cloudy {
    background: url("https://images.unsplash.com/photo-1566437036079-0e00cc9ea796?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjAwNjA4NDI&ixlib=rb-1.2.1&q=80");
    background-size: cover;
    color: var(--blue);
  }
  
  .info__container {
    display: flex;
    right: 15px;
    position: absolute;
    bottom: 15px;
  }
  
  .info {
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
    width: 110px;
  }
  
  .info__title {
    font-size: 12px;
    margin-bottom: 6px;
  }
  
  .info__value {
    font-size: 20px;
    font-weight: 500;
  }
  
  .temperature {
    align-items: center;
    display: flex;
  }
  
  .temperature__max {
    font-size: 48px;
  }
  
  .temperature__min {
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    display: inline-flex;
    font-size: 12px;
    margin-left: 15px;
    padding: 0 8px;
    height: 24px;
  }
  
  .pressure {
    background-color: var(--blue);
    color: #fff;
  }
  
  .visibility {
    background-color: #cce16a;
    color: #000;
    margin: 0 15px;
  }
  
  .rain {
    background-color: #fff;
    color: #000;
  }
  
  .forecast,
  .city {
    font-size: 14px;
  }
</style>
