<script setup lang="ts">
    import { RouterLink, RouterView } from "vue-router";
    </script>
    
    <template>
      <nav
        class="bg-white px-2 sm:px-4 py-2.5 dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-silver dark:border-gray-600"
      >
        <div class="container flex flex-wrap justify-between items-center mx-auto">
          <a href="https://flowbite.com/" class="flex items-center">
            <img
              src="@/assets/icons/weather.svg"
              class="mr-3 h-6 sm:h-9"
              alt="Flowbite Logo"
            />
            <span
              class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
              >Weather</span
            >
          </a>
          <div
            class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1"
            id="navbar-sticky"
          >
            <ul
              class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
            >
              <li>
                <RouterLink
                  class="block py-2 pr-4 pl-3 font-medium text-midnight bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-midnight"
                  to="/"
                  >Home</RouterLink
                >
              </li>
              <li>
                <RouterLink
                  class="block py-2 pr-4 pl-3 font-medium text-midnight bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-midnight"
                  to="/about"
                  >About</RouterLink
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </template>
    
    <style scoped></style>
    