<template>
  <div class="mt-40 container mx-auto">
    <footer class="bg-gray-100 footer bg-midnight">
      <div class="container mx-auto px-6 pt-10 pb-6">
        <div class="flex flex-wrap">
          <div class="w-full text-center">
            <h5 class="uppercase mb-6 font-bold">Portfolio</h5>
            <ul class="mb-4">
              <li class="mt-2">
                <a
                  href="http://aina-tojosoa.com/"
                  class="hover:underline text-gray-600 hover:text-orange-500"
                  target="_blank"
                  >Aina Tojosoa</a
                >
              </li>
              <li>Create by Aina tojosoa</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
</style>
