<template>
  <div>
    <StartAnimation v-if="animation"></StartAnimation>

    <div v-else>
      <Navbar></Navbar>
      <RouterView />
      <Footer></Footer>
    </div>
  </div>
</template>

<script lang="ts">
import Navbar from "./components/navbar/Navbar.vue";
import StartAnimation from "./components/startAnimation/StartAnimation.vue";
import Footer from "./components/footer/Footer.vue";
import { defineComponent } from "vue";
export default defineComponent({
  name: "add-tutorial",
  components: {
    Navbar,
    StartAnimation,
    Footer
  },
  data() {
    return {
      animation: true,
    };
  },
  mounted() {
    setTimeout(() => {
      this.animation = false;
    }, 2000);
  },
});
</script>

<style scoped></style>
